.card-roxo-button{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #a056d9;
    font-weight: bold;
    cursor: pointer;
    
    
  }