<!-- <div style="background-color: green;"*ngIf="minhaProp;else meuTemplate" >Sou uma div!</div> -->

<!-- Quando ngIf retorna um valor falso, o elemento é removido do dom, 
  ou seja,nao comporta igual o diplay: none ou visibility: hidden -->

  <!-- O ngIf aceita qualquer expressão que retorne um truthy ou um falsy.
  Posso fazer o binding com alguma propriedade do componente-->

  <!-- Não posso utilizar dois ngIf no mesmo componente. 
    Uma diretiva estrutural por elmento html -->


<!-- <ng-template #meuTemplate>
  O conteudo deste template será renderizado caso a expressão incial do ngIf seja falsa -->
  <!-- <div style="background-color: red;" >Sou uma outra div!</div> -->
<!-- </ng-template> -->
 
<ng-container *ngIf="minhaProp; then meuTemplate;else meuOutroTemplate"></ng-container>

<ng-template #meuTemplate>
  <div style="background-color: green;">Sou a div then!</div>
</ng-template>

<ng-template #meuOutroTemplate>
  <div style="background-color: red;">Sou a div else!</div>
</ng-template>
<button (click) = 'toggleProp()'>Toggle div</button>