<div class="list">

  <div class="item "
  *ngFor="let person of peopleList; 
  let i = index;
  let isOdd = odd, 
  let isEven = even; 
  let isFirst = first; 
  let isLast =last"
  [class.item--odd]="isOdd"
  (click)="selectPerson(i+1)"
  [class.item--highlighted]="personSelectedIndex===i+1">

    <p class="item__name"> {{i+1}}-{{person.name}}</p>

    <p class="item__age"> {{person.age}}</p>

    <p class="item__age" *ngIf="isFirst"> É o primeiro da lista</p>
    <p class="item__age" *ngIf="isLast"> É o último da lista</p>

  </div>
 
</div>



<!-- Não posso ter mais de uma diretiva estrutural em um elmento -->

<!-- palavras especiais no ngfor :
index, odd,even, first, last
Ajuda muito quando é usado renderização via array pelo ngfor -->